body, .container {
    background: rgb(155, 185, 250);
}

.form-login, .form-register {
    background: white;
    padding: 20px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.pengaduan {
    background: white;
    padding: 20px;
    height: auto;
    min-height: 100vh;
}